.message-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.userPhoto {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}
.message {
  max-width: 60%;
  border-radius: 1.5rem;
  width: max-content;
  padding: 1rem;
  overflow-wrap: break-word;
}
.own {
  background-image: linear-gradient(
    to right bottom,
    rgb(25, 181, 243),
    rgb(104, 191, 241)
  );
  margin: 0 0 0 auto;
  color: white;
}
.other {
  background-color: rgb(206, 206, 206);
  margin: 0 auto 0 0;
  color: black;
}
.text {
  font-size: 1.4rem;
}
.self-user {
  order: 2;
  margin-left: 0.5rem;
}
.other-user {
  order: 0;
  margin-right: 0.5rem;
}
